.Operation {
  flex: 1;
  text-align: right;
  font-size: 2rem;
  border: none;
  outline: none;
  border-radius: 0.625rem;
  padding: 0.625rem;
  overflow-x: scroll;
  scroll-snap-align: end;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  /* font-weight: bold; */
}

@media (max-width: 450px) {
  .Operation {
    font-size: 2.5rem;
  }
}