.CurrentValue {
  flex: 1;
  text-align: right;
  font-size: 3rem;
  border: none;
  outline: none;
  border-radius: 0.625rem;
  padding: 0 0.625rem;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-align: end;
}
.CurrentValue::-webkit-scrollbar {
  height: 5px;
}
.CurrentValue::-webkit-scrollbar-thumb {
  background-color: #4C5454;
  border-radius: 10px;
  transition: background-color 0.5s linear;
}
.CurrentValue::-webkit-scrollbar-thumb:hover {
  background-color: #FF715B;
}


@media (max-width: 450px) {
  .CurrentValue {
    font-size: 1.5rem;
  }
}